---
const pageTitle = "About me";
const identity = {
    firstName: "Angad",
    country: "United States",
    occupation: "student",
    hobbies: ["skiing", "programming", "tinkering"],
};

const skills = ["Docker", "Python", "APIs"];
const happy = true;
const finished = false;
const goal = 3;
const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
import BaseLayout from '../layouts/BaseLayout.astro';

---
<BaseLayout pageTitle={pageTitle}>
        <p>
            Currently working through Astro's blog tutorial in preparation for
            making a portfolio/blog
        </p>
        <p>Here are a few facts about me:</p>
        <ul>
            <li>My name is {identity.firstName}.</li>
            <li>
                I live in {identity.country} and I work as a {
                    identity.occupation
                }.
            </li>
            {
                identity.hobbies.length >= 2 && (
                    <li>
                        Two of my hobbies are: {identity.hobbies[0]} and{" "}
                        {identity.hobbies[1]}
                    </li>
                )
            }
        </ul>
        <p>My skills are:</p>
        <ul>
            {skills.map((skill) => <li class="skill">{skill}</li>)}
        </ul>
        {happy && <p>I am happy to be learning Astro!</p>}

        {finished && <p>I finished this tutorial!</p>}

        {
            goal === 3 ? (
                <p>My goal is to finish in 3 days.</p>
            ) : (
                <p>My goal is not 3 days.</p>
            )
        }
</BaseLayout>